<div class="card mt-6">

  <h2 class="text-xl font-bold text-pink-600">
    💖 {{ project.name }}
  </h2>

  <p class="text-sm text-gray-400">
    Créé : {{ project.createdAt | friendlyDate }}
  </p>

  <app-status-badge [status]="project.status"></app-status-badge>

  <app-task-list
    [tasks]="project.tasks"
    (statusChanged)="onStatusChanged()">
  </app-task-list>

  <!-- Progress -->
  <div class="mt-4">
    <div class="w-full bg-pink-100 rounded-full h-4">
      <div class="h-4 rounded-full bg-pink-400"
           [style.width.%]="progress">
      </div>
    </div>

    <p class="text-sm text-pink-500 mt-1">
      Progression : {{ progress }}%
    </p>
  </div>

</div>