<!-- 🔽 FILTRE -->
<div class="mb-4">
  <select [(ngModel)]="filterPriority"
          class="border p-2 rounded w-full">

    <option value="">Toutes les priorités</option>
    <option value="Haute">Haute</option>
    <option value="Moyenne">Moyenne</option>
    <option value="Basse">Basse</option>

  </select>
</div>

@if (getFilteredTasks().length === 0) {
  <p class="text-pink-400 italic mt-4">
    Aucune tâche
  </p>
} @else {

  <div class="mt-4 space-y-3">

    @for (task of getFilteredTasks(); track task.title) {

      <div class="card border-l-4"
           [ngClass]="getStatusClass(task.status)">

        <p class="font-semibold"
           [ngClass]="task.priority | priorityColor">
          💗 {{ task.title }}
        </p>

        <p class="text-sm text-gray-400">
          {{ task.priority }} · {{ task.status }}
        </p>

        <button class="btn mt-2"
                (click)="changeStatus(task)">
          Changer statut
        </button>

      </div>

    }

  </div>
}